@import "tailwindcss";

@theme {
    --color-salmon: rgb(255, 117, 135);
    --color-azure: rgb(47, 109, 173);
    --color-khaki: rgb(242, 226, 148);
    --color-travertine: rgb(255, 253, 234);
    --color-concrete: rgb(243, 243, 243);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /*--color-background: var(--background);*/
  /*--color-foreground: var(--foreground);*/
  --font-sans: var(--font-e-ukraine);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-e-ukraine), sans-serif;
}
